Q1. Create one variable containing following type of data:

In [4]:
#(i) string
my_string = "Hello, World!"
#(ii) list
my_list = [1, 2, 3, 4, 5]
#(iii) float
my_float = 3.14159
#(iv) tuple
my_tuple = (10, 20, 30)

Q2.Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

answer:-


(i) var1 is a string.
(ii) var2 is a string.
(iii) var3 is a list.
(iv) var4 is a float.

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [5]:
#(i) / (Division Operator):The / operator is used for division in Python. It performs division and returns the quotient as a floating-point number.
a = 10
b = 3
result = a / b
print(result)

    
    
#(ii) % (Modulo Operator):The % operator is used for modulo or remainder division. It returns the remainder of the division between two numbers.
a = 10
b = 3
result = a % b
print(result)


    
    
#(iii) // (Floor Division Operator):The // operator is used for floor division. It performs division and returns the quotient as an integer, discarding any decimal places.
a = 10
b = 3
result = a // b
print(result)


    
#(iv) ** (Exponentiation Operator):The ** operator is used for exponentiation. It raises the first operand to the power of the second operand.
a = 2
b = 3
result = a ** b
print(result)

3.3333333333333335
1
3
8

In [6]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.
my_list = [42, 'Hello', 3.14, True, [1, 2, 3], {'name': 'John', 'age': 25}, (1, 2), None, False, 'World']

for element in my_list:
    print(f"Element: {element}, Data Type: {type(element)}")

Element: 42, Data Type: <class 'int'>
Element: Hello, Data Type: <class 'str'>
Element: 3.14, Data Type: <class 'float'>
Element: True, Data Type: <class 'bool'>
Element: [1, 2, 3], Data Type: <class 'list'>
Element: {'name': 'John', 'age': 25}, Data Type: <class 'dict'>
Element: (1, 2), Data Type: <class 'tuple'>
Element: None, Data Type: <class 'NoneType'>
Element: False, Data Type: <class 'bool'>
Element: World, Data Type: <class 'str'>

In [8]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.
A = 100
B = 5

count = 0
while A % B == 0:
    A = A / B
    count += 1

print(f"Number A is divisible by number B {count} times.")

Number A is divisible by number B 2 times.

In [9]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.
my_list = [15, 6, 9, 20, 7, 12, 18, 21, 4, 30, 11, 25, 36, 14, 27, 8, 17, 22, 33, 10, 13, 16, 19, 24, 3]

for element in my_list:
    if element % 3 == 0:
        print(f"{element} is divisible by 3")
    else:
        print(f"{element} is not divisible by 3")

15 is divisible by 3
6 is divisible by 3
9 is divisible by 3
20 is not divisible by 3
7 is not divisible by 3
12 is divisible by 3
18 is divisible by 3
21 is divisible by 3
4 is not divisible by 3
30 is divisible by 3
11 is not divisible by 3
25 is not divisible by 3
36 is divisible by 3
14 is not divisible by 3
27 is divisible by 3
8 is not divisible by 3
17 is not divisible by 3
22 is not divisible by 3
33 is divisible by 3
10 is not divisible by 3
13 is not divisible by 3
16 is not divisible by 3
19 is not divisible by 3
24 is divisible by 3
3 is divisible by 3

In [11]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.
#Mutable Data Types:Mutable data types are those that can be changed or modified after they are created.Ex- lists, dictionaries, sets
my_list = [1, 2, 3]
print(my_list)
my_list.append(4)
print(my_list)
#Immutable Data Types:Immutable data types are those whose values cannot be changed once they are created.Ex-strings, tuples, and frozensets
str='Hello world'
str[1]='S'
print(str)

[1, 2, 3]
[1, 2, 3, 4]

TypeError: 'str' object does not support item assignment